Package: drc-01
Version: 0.6
Architecture: armhf
Maintainer: Peter Kishalov <pkishalov@dh-electronics.de>
Installed-Size: 25M
Depends: libpocofoundation9
Section: misc
Priority: optional
Homepage: http://www.dh-electronics.com
Description: app package for drc-01
